Nav {
  display: flex;
  justify-content: space-around;
  min-height: 8vh;
  position: fixed;
  z-index: 10000;
  width: 100%;
  align-items: center;
  margin-top: 20px;
  text-shadow: 0 0 3px #0c0a0a;
}
a {
  text-decoration: none;
}
.navlinks {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 50%;
  font-size: 24px;
}
.link {
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.8);
}
a:hover {
  color: rgba(255, 255, 255, 1);
}
.logo {
  display: flex;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 1000;
}
.logo h4 {
  margin-left: 7px;
  letter-spacing: 1px;
}
.hamburger-toggle {
  cursor: pointer;
  color: white;
  display: none;
}
@media screen and (max-width: 950px) {
  @import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap");
  .hamburger-toggle {
    display: block;
  }
  .navlinks {
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: column;
    height: 92vh;
    align-items: center;
    width: 30%;
    top: 8vh;
    font-size: 32px;
    z-index: 99;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    font-family: "Encode Sans SC", sans-serif;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  .active {
    transform: translate(0%);
  }
}
