.exploreSectionInner {
  margin: 10px;
  border: 5px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.exploreSectionInner_heading {
  width: 150px;
  text-align: center;
}

.exploreSectionInner__cities {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
}
