@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
h1 {
  font-family: "Poppins", sans-serif;
}

.btn {
  color: white;
}
/* #colwhite {
  color: white;
} */
.infocard {
  background-image: url("./img1.jpg");
  background-size: cover;
}
